<footer class="footer-wrap">
	<div class="container">
		<div class="footer-copyright">
			{{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'align' : 'left'})|raw}}
		</div>
		<div class="foorer-socialicons">
			{{widget('profile', 'socialicons', { 'profileType' : 'socialicons', 'align' : 'left' })|raw}}
		</div>
	</div>
</footer>