<!-- Refers back to block code in layout.twig -->
{% extends "layout.twig" %}
{% block content %}

<!-- Page type class hook, container grid class -->
<div class="home-page container">
	
	<!-- Main container wrap, grid class -->
	<main class="main-content">
	
		<!-- Zone widget area -->
		{{zone('main')|raw}}
		
	</main>
	
</div>

<div class="footer-contact">
	<div class="footer-contactform">
		{{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
	</div>
	<div class="footer-map">
		{{widget('map', 'thisunqiuewidgetname', {'height': '150', 'zoom': '15', 'address': 'profile'})|raw}}
	</div>
	<div class="footer-address">
		{{widget('companyaddress', 'thisunqiuewidgetname', {})|raw}}
	</div>
</div>

{% endblock %}