/*	===============================
	Table of Contents
	===============================
	- Colour Swatches
	- Font Swatches
	- Bootstrap Import
	- Template Styles
		1.  Globals
		2.  Header
		3.  Navigation
		4.  Home
		5.  Menu
		6.  Blog List
		7.  Blog Post
		8.  Forms
		9.  Gallery / Images / Slideshow
		10. Footer
		11. Misc
		12. Responsive
	=============================== */

/*	===============================
	Colour Swatches
	===============================	
	"color1": == Background
	"color2": == Contrast colour
	"color3": == Button colour
	"color4": == Title colour
	"color5": == Paragraph colour
	"color6": == Nav text colour
	"color7": == Header BG colour
	=============================== */

/*	===============================
	Font Swatches
	===============================	
	"font1":  == Heading 1
	"font2":  == Heading 2
	"font3":  == Heading 3
	"font4":  == Heading 4
	"font5":  == Paragraph
	"font6":  == Navigation Text
	"font7":  == Buttons
	"font8":  == Feature Title
	"font9":  == Feature Subtitle
	"font10": == Logo
	=============================== */


/*	===============================
	Bootstrap import
	=============================== */
@import "@{templateCommon}/basekit-bootstrap.less";

/*	===============================
	Flynn (grid) import
	=============================== */
@import "@{templateLocal}/grid.less";

/*	===============================
	Template Styles
	=============================== */


// 2. Header
.header-sub,
.header-main {
	background-color: @color-swatch7;
}

.header-sub {
	box-shadow: 0 1px 1px darken(fadeout(@color-swatch7, 75%), 30%);
	padding: 6px 0;
	position: relative;
	z-index: 1;
}

.header-phonenumber {
	text-align: right;
}

#headerimage {
	max-height: 200px;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.header-main {
	border-bottom: 3px solid @color-swatch2;
}

.widget.logo {
	.logo {
		display: inline;
	}
}

#headerlogo {
	margin: -29% 0 -33%;
}

#companyname a,
#phonenumber {
	&:extend(h4);
}

#phonenumber .bk-profile-phone {
	color: @color-swatch2;
}

// 3. Navigation
.widget .extendednavigation ul li {
	> .text {
		padding: 0;
	}
	a, &.folder {
		margin-right: 0;
		> .text:hover, &:hover {
			background-color: @color-swatch2;
			color: @color-swatch7;
		}
		padding: 18px 30px;
		&:after {
			right: 20px;
			top: 47%;
		}
		&:hover:after {
			border-top-color: @color-swatch7;
		}
	}
	ul a > .text:hover {
		background-color: darken(@color-swatch2, 10%);
	}
	&.folder {
		padding-right: 40px;
		&:hover > .text {
			background-color: @color-swatch2;
			color: @color-swatch7;
		}
	}
	&:hover ul {
		top: 62px;
		left: 0;
		background-color: @color-swatch2;
		a:hover {
			background-color: darken(@color-swatch2, 10%);
		}
		.text {
			color: @color-swatch7;
			&:hover {
				color: @color-swatch7;
			}
		}
	}
}

// 8. Forms
fieldset .btn,
fieldset button,
form button {
	vertical-align: middle;
}

.form-group {
	padding-bottom: 10px;
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
.widget.ecomcheckout .delivery select,
select,
input,
input[type=email],
input[type=text],
input[type=search],
textarea,
.contactform input,
.contactform textarea,
.widget.profile form fieldset input {
	text-indent: 0;
	width: 100%;
	padding: 8px 15px 10px;
	border: 2px solid lighten(@color-swatch5, 40%);
	outline: none;
	-webkit-transition: border .2s;
	-moz-transition: border .2s;
	-ms-transition: border .2s;
	transition: border .2s;
	background-color: lighten(@color-swatch1, 10%);
	border-radius: 0;
	&:hover, &:focus {
		border-color: @color-swatch2;
	}
}

select::-ms-expand {
	display: none;
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
select {
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

.widget.profile form fieldset input,
input[type=email],
input[type=text],
input[type=search],
.signupform fieldset input {
	height: @font-swatch5-font-size + 27;
	vertical-align: middle;
}

.widget.profile form fieldset input,
.signupform fieldset input,
.blog-search-input {
	width: 100%;
}

textarea {
	resize: vertical;
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
.widget.ecomcheckout .delivery select,
select {
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	font-size: @font-swatch5-font-size;
	cursor: pointer;
	-webkit-appearance: none;
	position: relative;
	background-image: image('/images/icons/arrow-down.png');
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-position-x: 95%;
	background-position-y: 53%;
	margin-bottom: 12px;
	padding-right: 33px;
	height: @font-swatch5-font-size + 27;
}

.svg {
	.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select, select {
		background-image: image('/images/icons/arrow-down.svg');
	}
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

.widget.profile form fieldset label,
.widget.contactform label,
div.signupform label,
label {
	display: inline-block;
	&:extend(h3);
}

// 0. Buttons
button.btn,
.signupform fieldset button,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.ecomcheckout .checkout-order-button,
.widget.tweet a,
.widget.dropbox button,
.blog-search-submit-button {
	padding: 8px 14px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	&:hover {
		background-color: @font-swatch7-background-color-hover;
	}
}

button {
	outline: none;
}

.blog-search-submit-button {
	&:extend(button.btn);
	border: none;
}

.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button {
	padding-left: 40px;
}

// 11. Misc
.page-wrap {
	padding-top: 70px;
}

.page-wrap .widget,
.widget.tweet {
	clear: both;
	margin-bottom: 20px;
	padding: 0;
}

hr.line {
	background-color: lighten(@color-swatch5, 40%);
}

// 0. Twitter Widget
.twitter ul li a,
.widget.twitter ul li span a {
	color: @color-swatch3;
	text-decoration: none;
}

.widget.twitter ul li > {
	time, span a, span {
		font-size: bkscale(@font-swatch5-font-size, 0.8);
	}
	.bk-full-name {
		font-size: @font-swatch5-font-size;
	}
	.twitter-profile-pic a {
		line-height: 0;
	}
}

.twitter-profile-pic {
	line-height: 0;
	border: 2px solid @color-swatch1;
	box-shadow: inset 0px 1px 20px 0px fadeout(@color-swatch5, 75%), 0px 1px 2px 0px fadeout(@color-swatch5, 70%);
	img {
		position: relative;
		z-index: -1;
	}
}

// 0. Social Icons
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
footer .widget.profile .bk-profile-socialicons span a {
	background-size: 28px;
	background-color: transparent;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	&:hover {
		background-color: transparent;
		-webkit-filter: drop-shadow(0 0 1px @color-swatch3);
	}
}

.svg {
	.bk-socialicons-linkedin a {
		background-image: image('/images/icons/linkedin.svg');
	}
	.bk-socialicons-twitter a {
		background-image: image('/images/icons/twitter.svg');
	}
	.bk-socialicons-facebook a {
		background-image: image('/images/icons/facebook.svg');
	}
	.bk-socialicons-rss a {
		background-image: image('/images/icons/rss.svg');
	}
	.bk-socialicons-googleplus a {
		background-image: image('/images/icons/googleplus.svg');
	}
	.bk-socialicons-youtube a {
		background-image: image('/images/icons/youtube.svg');
	}
}

.bk-socialicons-linkedin a {
	background-image: image('/images/icons/linkedin.png');
}
.bk-socialicons-twitter a {
	background-image: image('/images/icons/twitter.png');
}
.bk-socialicons-facebook a {
	background-image: image('/images/icons/facebook.png');
}
.bk-socialicons-rss a {
	background-image: image('/images/icons/rss.png');
}
.bk-socialicons-googleplus a {
	background-image: image('/images/icons/googleplus.png');
}
.bk-socialicons-youtube a {
	background-image: image('/images/icons/youtube.png');
}

// 0. Ecommerce
.productlist-filter {
	.form-group {
		width: 25%;
	}
}

.widget.ecomproductslist .productlist-filter .productlist-display-form .form-group {
	padding: 10px;
	margin: 0;
	float: left;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}

.form-group.productlist-search:before {
	content: "Search";
	display: inline-block;
	padding-bottom: .4em;
	font-family:@font-swatch3-font-family; 
	font-weight: @font-swatch3-font-weight; 
	color:@font-swatch3-color; 
	line-height:@font-swatch3-line-height; 
	letter-spacing: @font-swatch3-letter-spacing; 
	font-size: @font-swatch3-font-size;
}

.widget.signupform .form-group,
.form-group.productlist-search,
.widget.profile form fieldset,
.blog-search-form {
	position: relative;
	input[type=search],
	input[type=email],
	input[type=text] {
		padding-right: 90px;
	}
	button {
		position: absolute;
		right: 0;
		bottom: 10px;
	}
}

.widget.profile form fieldset button {
	bottom: 0;
}

/*
.widget.ecomproductslist {
	margin-left: -20px;
}
*/

/*
.widget.ecomproductslist .ecom-productslist-product {
	margin: 0;
	float: left;
	width: 23.5%;
	margin-left: 20px;
}

.widget.ecomproductslist .productlist-filter {
	margin-left: 20px;
}

*/

.widget.ecomproductslist .ecom-productslist-image-wrap {
	background-color: lighten(@color-swatch1, 10%);
}

.widget.ecomproduct .ecom-product .ecom-product-preview-image-wrap {
	max-height: 330px;
	text-align: center;
	background-color: lighten(@color-swatch1, 10%);
	img {
		display: inline-block;
		max-height: 100%;
	}
}

// 0. Slideshow
.widget.responsiveslideshow .slideshow-widget {
	.btn-prev, .btn-next {
		text-indent: 1000px;
		overflow: hidden;
		height: 30px;
		width: 30px;
		top: 50%;
		margin-top: -15px;
		&:before {
			content: "";
			display: block;
			border: 5px solid transparent;
			position: absolute;
			top: 10px;
			left: 11px;
			width: 0;
			height: 0;
		}
	}
	.btn-next:before {
		border-left-color: @font-swatch7-color;
		left: 13px;
	}
	.btn-prev:before {
		border-right-color: @font-swatch7-color;
		left: 6px;
	}
}

.widget.responsiveslideshow .slideshow-widget .btn-prev,
.widget.responsiveslideshow .slideshow-widget .btn-next,
.widget.responsiveslideshow .slideshow-widget .btn-play {
	background-color: fadeout(@font-swatch7-background-color, 30%);
}

.widget.responsiveslideshow {
	.slideshow-widget .btn-play, .btn-prev, .btn-next {
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		-ms-transition: opacity .2s;
		transition: opacity .2s;
		opacity: .25;
	}
	&:hover {
		.slideshow-widget .btn-play, .btn-prev, .btn-next {
			opacity: .75;
			&:hover {
				opacity: 1;
			}
		}
	}
	.content-wrapper {
		background: fadeout(@color-swatch1, 25%);
		text-shadow: none;
		.title {
			font-weight: @font-swatch3-font-weight;
			&:after {
				content: ":";
			}
		}
		.title, .description {
			color: @color-swatch5;
		}
		.title {
			padding-right: 0;
			padding-left: 6px;
		}
		.description {
			padding-left: 0;
		}
	}
}

.widget.responsiveslideshow .slideshow-widget-controls .dot {
	border-radius: 100%;
	border: 1px solid @color-swatch2;
	background-color: @color-swatch1;
	box-shadow: inset 0 0 0 3px @color-swatch1;
	&.selected {
		border: 1px solid @color-swatch2;
		background: @color-swatch3;
	}
}

.widget.responsiveslideshow:hover span.btn-play,
.widget.responsiveslideshow .slideshow-widget:hover .btn-play.pause {
	&:before, &:after {
		width: 8px;
		height: 26px;
		background: @font-swatch7-color;
		border: 0;
		top: 27px;
		left: 28px;
	}
	&:after {
		left: 42px;
	}
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
	text-indent: -99999px;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-left-color: @font-swatch7-color;
		left: 32px;
		top: 31%;
		border-top-width: 15px;
		border-bottom-width: 15px;
	}
	&:hover {
		&:before, &:after {
			top: 31%;
		}
	}
}

// 0. Menu
.menu-item-image-wrap {
	background-size: cover;
	height: 270px;
	background-position: center;
	border: 2px solid lighten(@color-swatch5, 40%);
	img {
		display: none;
	}
}

.menu .menu-subsection {
	padding: 0;
}

.menu-subsection-wrapper {
	border: 2px solid lighten(@color-swatch5, 60%);
	padding: 4%;
}

.menu-subsection-promoted {
	border: 2px solid lighten(@color-swatch5, 40%);
	background: lighten(@color-swatch1, 10%);
}

.menu-section-item-dietary-props {
	color: lighten(@font-swatch5-color, 30%);
}

.standard-price {
	font-family:@font-swatch3-font-family; 
	font-weight: @font-swatch3-font-weight; 
	color:@font-swatch3-color; 
	line-height:@font-swatch3-line-height; 
	letter-spacing: @font-swatch3-letter-spacing; 
	font-size: @font-swatch3-font-size;
}

// 0. Blog
.blog-post-item.has-image {
	position: relative;
}
.blog-post-feature-image-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}